{
  "printWidth": 100,
  "singleQuote": true,
  "overrides": [
    {
      "files": "frontend/src/**/*.html",
      "options": {
        "parser": "angular"
      }
    },
    {
      "files": ["*.yaml", "*.yml"],
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": "*.jsonc",
      "options": {
        "trailingComma": "none"
      }
    }
  ]
}
